{
  "presets": [
    [
      "env",
      {
        "module": false,
        "target": "ie >= 9"
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "react-html-attrs",
    "transform-class-properties",
    "react-hot-loader/babel",
    "transform-runtime",
    ["import", {"libraryName": "antd", "style": "css"}]
  ],
  "env": {
    "test": {
      "presets": [["env"], "react", "stage-0"]
    }
  }
}
